html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: #FFF8E5;
}

p {
	margin: 0;
	line-height: 150%;
}

a {
	color: green;
}

.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 100px auto;
	background: #fff;
	padding: 20px;
}

a.external-link {
	color: blue;
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
}
a.external-link:visited {
	color: blue;
}
a.external-link:hover {
	text-decoration: underline;
}


/*-----------------------------POP-UP-------------------------------*/
a.popup-link {
	color: red;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}
a.popup-link:visited {
	color: red;
}
a.popup-link:hover {
	text-decoration: underline;
}

.popup-box {
	position: absolute;
	display: none; /* Hide before click */
	width: 400px;
	background-color: black;
	color: white;
	z-index: 2;
	padding: 32px;
	line-height: 150%;
	/*border-radius: 25px;*/
	box-shadow: 0px 0px 10px 0px #000;
	/*margin-bottom: 50px;*/
}

.popup-box-grid-top {
	background-image: url("sekiro.jpg");
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	/*border: 1px solid rgba(1.0, 0, 0, 1.0);*/
	padding: 60% 0 0 0;
}

.popup-box-grid-bottom {
	/*border: 1px solid rgba(0, 1.0, 0, 1.0);*/
}

.popup-box-arrow {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 0;
	border-bottom: 16px solid black;
	top: -16px; /* half of popup-box padding */
	left: 0px;
}

.popup-text {
	padding-top: 32px;
}

.popup-goto-link-box {
	margin-top: 20px;
}
a.popup-goto-link {
	color: red;
	font-weight: 900;
	font-size: 150%;
	text-decoration: none;
}
a.popup-goto-link:hover {
	text-decoration: underline;
}
a.popup-goto-link:visited {
	color: red;
}

img.popup-image {
	max-width: 100%;
	margin-bottom: 20px;
}
/*------------------------------------------------------------------*/



/*----------------------------RESPONSIVE----------------------------*/
@media screen and ( max-width: 749px ) {

	p {
		font-size: 80%;
	}

	.popup-box {
		width: 86%;
		left: 50%;
		margin-left: -43%;

		font-size: 80%;
		padding: 25px;
	}

}

/*------------------------------------------------------------------*/
